@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.background-input {
  background-color: #f6f7f8;
}

.seenit-orange {
  background-color: #d93a00;
}
/*
Background color: #dae0e6

*/

.collapse-line {
  border: none;
  background: none;
  padding: 0;
  width: 15px;
  margin-top: .5rem;
  position: relative;
  cursor: pointer;
  outline: none;
  transform: translateX(-50%);
}

.collapse-line:hover::before,
.collapse-line:focus-visible::before {
  background-color: hsl(235, 100%, 60%);
}

.collapse-line::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: hsl(235, 50%, 74%);
  transition: background-color 100ms ease-in-out;
}